.jaqas_menu_editor_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-family: Verdana, Geneva, sans-serif;
}

.jaqas_menu_editor_custom_link, .jaqas_menu_editor_menu_structure {
    margin: .25rem;
    padding-bottom: .25rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: .3s;
}
.jaqas_menu_editor_body {
    padding: .75rem;

}

/* default */

.jaqas_menu_editor_input {
    width: 100%;
    margin: .15rem;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: .75rem;
    outline: none;
}
.jaqas_menu_editor_input:focus {
    border: 1px solid  rgba(9, 136, 209, 0.87);
}

.jaqas_menu_editor_title {
    background: rgba(204, 204, 204, 0.253);
    padding: .75rem;
    border-bottom: 1px solid #ccc;
}

.jaqas_menu_editor_submit_button {
    background: rgba(9, 136, 209, 0.87);
    border: 1px solid rgb(22, 96, 180);
    width: min-content;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 2px;
    float: right;
}
.jaqas_menu_editor_submit_button:hover {
    background: rgb(9, 136, 209);

}



/* custom link */

.jaqas_menu_editor_custom_link {
    max-width: 300px;
    min-width: 300px;
    margin-left: 0;
}

.jaqas_menu_editor_custom_link_show_button {
    position: relative;
    float: right;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #555;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    -webkit-transition: .8s;
    transition: .8s;
}
  
@media (max-width: 900px) {
    .jaqas_menu_editor_custom_link {
        margin-left: -310px;
    }
    .jaqas_menu_editor_custom_link_show_button {
        left: 30px;
        border: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid #555;
        border-bottom: 10px solid transparent;
    }
}
.jaqas_menu_editor_remove {
    background: rgba(209, 9, 9, 0.87);
    border: 1px solid #b41616;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 2px;
    float: right;
}
.jaqas_menu_editor_remove:hover {
    background: #d10909;
}

@mixin jaqas_menu_item_depth {
    @for $i from 1 through 100 {
        .jaqas_menu_item_depth-#{$i} { margin-left: 30 * $i + px; }
    }
}

@include jaqas_menu_item_depth;

.jaqas_menu_editor_menu_structure {
    width: 100%;
}
.jaqas_menu_editable, li {
    list-style-type: none;
    max-width: 500px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-;
}
.jaqas_menu_editable, li ul {
    padding-inline-start: 0px;
  }
  
.jaqas_menu_item_bar {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fafafa;
    padding: 10px 15px;
    max-width: 500px;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}

.jaqas_item_title {
    font-size: 13px;
    font-weight: bold;
}

.jaqas_item_edit_button {
    position: relative;
    float: right;
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #555;
}

.jaqas_menu_item_settings {
    border: 1px solid #ddd;
    margin-top: -1px;
    background: white;
    padding: .95rem;
    max-width: 500px;
    cursor: pointer;
    user-select: none;
    height: 0px;
    overflow: hidden;
    transition: .5s;
    display: none;
}
